{% extends 'layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/css/userad/userad.css') }}" />
    <!-- Supprimez la ligne avec Font Awesome pour tester avec du texte simple -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <br />
    <br />
    <br />
    <br />
    <br />
    {% block search %}
        <form action="{{ path('useradministration') }}" method="get">
            <label for="search">Search:</label>
            <input type="text" id="search" name="search" value="{{ app.request.get('search') }}">
            <button type="submit"><i class="material-icons" title="Search">search</i></button>
        </form>
    {% endblock %}
    {% block filter %}
    <div class="filter-icons">
        <i class="material-icons">filter_list</i> <!-- Première icône -->
        <i class="material-icons">filter_list</i> <!-- Deuxième icône -->
    </div>
{% endblock %}

    {% block user_info %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Rôle</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.role }}</td>
                          <td>
                            <i class="material-icons" title="Modifier">edit</i></td>
                        
                        <td>
                             <i class="material-icons" title="Supprimer">delete</i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Pagination block #}
        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if currentPage > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ currentPage - 1 }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in 1..maxPages %}
                        <li class="page-item {% if page == currentPage %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if currentPage < maxPages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ currentPage + 1 }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endblock %}
{% endblock %}
