{% extends 'layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/css/demand.css') }}" />
    <!-- Supprimez la ligne avec Font Awesome pour tester avec du texte simple -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<body>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}
    <h1>Liste des demandes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Status</th>
                <th>Date</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for demande in pagination %}
                <tr>
                    <td class="note {{ demande.getStatus()|default('unknown') }}">
                        {{ demande.getId() }}
                    </td>
                    <td>{{ demande.title }}</td>
                    <td class="{{ demande.getStatus()|default('unknown') }}">
                        {{ demande.getStatus() }}
                    </td>
                    <td>{{ demande.getCreatedAt()|date('Y-m-d H:i:s') }}</td>
                    <td><a href="{{ path('demand_view', {'id': 123}) }}">Voir la Demande</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination-container">
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</body>
</html>
{% endblock %}